.profile_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 45px;
}

.info_wrapper {
    display: flex;
    gap: 38px;
}

.profile {
    border-radius: 15px;
    width: 359px;
    background-color: #292929;
    padding: 55px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fundo semi-transparente */
    z-index: 10; /* Certifique-se de que o overlay esteja acima de outros conteúdos */
}

.overlay-hidden {
    display: none; /* Ocultar overlay quando o popup não estiver aberto */
}

.profile img {
    cursor: pointer;
    opacity: 0.1;
    width: 140px;
}

.profile_image {
    position: relative;
}

.profile span {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile p {
    text-align: center;
    border-top: 1px solid #FFC107;
    border-bottom: 1px solid #FFC107;
    padding: 18px 42px;
    font-size: 18px;
    color: #FFC107;
    margin-top: 23px;
}

.client_info {
    background-color: #292929;
    color: #fff;
    width: 850px;
    border-radius: 15px;
    padding: 18px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.client_info p {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FFC107;
    padding-bottom: 12px;
}

.edit_btn {
    align-self: flex-end;
    font-size: 16px;
    text-decoration: none;
    color: #292929;
    background-color: #FFC107;
    padding: 5px 32px;
    border-radius: 999px;
    font-weight: bold;
    margin-top: 5px;
    border: 1px solid transparent;
    transition: 0.5s;
}

.edit_btn:hover {
    background-color: transparent;
    color: #FFC107;
    border-color: #FFC107;
}

/* Consultas de mídia para tablets */
@media (max-width: 1580px) {
    .explore_client {
        display: flex;
        flex-direction: column;
    }

    .explore_right_client {
        margin-left: 335px;
        padding: 0 15px;
    }

    .profile_wrapper {
        gap: 30px;
        width: 100%;
    }

    .info_wrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .profile {
        margin-top: 32px;
        width: 100%;
        padding: 40px 20px;
    }

    .profile p {
        padding: 15px 20px;
        font-size: 16px;
        width: 100%;
        text-align: center;
    }

    .client_info {
        width: 100%;
        padding: 20px;
    }

    .client_info p {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 8px;
    }

    .edit_btn {
        align-self: center;
        margin-top: 15px;
    }

    .order_info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 0 15px;
        margin-bottom: 32px;
    }
}
