.client_message_wrapper {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 22px;
    width: 100%;
}

.client_message_wrapper img {
    width: 52px;
    position: relative;
    top: -42px;
    left: 15px;
}

.client_img_wrapper {
    position: relative;
}

.client_img_wrapper svg {
    position: absolute;
    left: 15px;
    color: #00c914;
}

.client_message {
    width: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    background-color: #FFC107;
    padding: 16px 22px;
    border-radius: 15px;
    margin-left: 60px; /* Ajuste para alinhar com o avatar */
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word; /* Adicionada propriedade para quebra de linha */
    overflow-wrap: break-word; /* Adicionada propriedade para quebra de linha */
}

.client_message span {
    font-size: 12px;
    text-align: right;
    margin-bottom: 6px;
}

.client_message p {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: bold;
}

@media (max-width: 1580px) {
    .client_message {
        max-width: 550px;
    }
}

@media (max-width: 1200px) {
    .client_message {
        max-width: 350px;
    }
}

@media (max-width: 1000px) {
    .client_message {
        max-width: 250px;
    }
}